.footer__links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto 24px;
}

@media screen and (max-width: 320px) {
    .footer__links {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .footer__links:last-child {
        margin-bottom: 48px;
    }
}
